<div class="container">

    <div class="text-center mt-3">
        <h1>Den Weg zu deinem Maalti-Account findest du hier!</h1>
        <h4 class="text-muted">Log dich einfach ein! Oder registrier dich mit ein paar Klicks!</h4>
    </div>
    <!--
    <div class="d-flex justify-content-center align-items-center">
        <div class="row row-cols-sm-1 row-cols-md-2 my-5">
            <div class="col">
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Anmelden</h5>
                        <input id="email" type="email" name="login" placeholder="E-Mail" class="my-2" [(ngModel)]="lemail">
                        <input id="password" type="password" name="password" placeholder="Passwort" class="my-2" [(ngModel)]="lpassword">
                        <p class="card-text">Meld dich hier an falls du schon einen Maalti-Account besitzt</p>
                        <a [routerLink]="['/Password']" class="card-link">Passwort vergessen?</a><br>
                        <button type="button" class="btn btn-dark mt-3 " (click)="einloggen()"> Anmelden</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Registrieren</h5>
                        <input id="email" type="email" name="login" placeholder="E-Mail" class="my-2"
                            [(ngModel)]="email">
                        <input id="password" type="password" name="password" placeholder="Gewünschtes Passwort"
                            class="my-2" [(ngModel)]="password">
                        <p class="card-text">Noch keinen Account? Kein Problem registrier dich kostenlos!</p>
                        <button type="button" class="btn btn-dark mt-3" id="liveToastBtn" (click)="registrieren()">
                            Registrieren</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    
</div>
